@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@100;400&family=Shizuru&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  /* font-family: "Redressed", cursive; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Shizuru", cursive; */
}
/* Common */
.color {
  color: tomato;
}
.h1 {
  font-size: 3rem;
  font-family: "Shizuru", cursive;
}
.h3 {
  font-family: "Redressed", cursive;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}
.halfDiv {
  display: flex;
  width: 50%;
  height: 500px;
  /* text-align: center; */
  /* border: 1px solid red; */
}
.col_with_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col_with_txt p {
  width: 80%;
  margin-bottom: 20px;
  /* font-family: "Redressed", cursive; */
  font-size: 1.2rem;
  color: #00000091;
}
/* Common */

.top {
  width: 70%;
  border-left: 7px solid;
  border-image: linear-gradient(red, tomato);
  border-image-slice: 1;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  text-decoration: none;
  color: white;
  width: 20%;
  padding: 10px 20px;
  background: linear-gradient(90deg, lightsalmon, tomato);
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.right {
  display: flex;
  justify-content: flex-end;
}

#right img {
  width: 500px;
}
#myMission {
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.cardWrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 29%;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
}
.card img {
  width: 45%;
  margin-bottom: 20px;
}
